In [1]:
import pandas as pd

In [12]:
df = pd.read_csv(r"C:\Users\Arun\OneDrive\Documents\youtube\original_dataset.csv")
comments = df["Comment"]

In [21]:
comments

0        This series is exactly what career day shouldv...
1        seasoned craft brewery tour guide here and i’m...
2        15 spin launch 015 14 graphene 159 13 gps 3 33...
3        if machines produce everything we need the out...
4        i like the meme that says ‘if it bites you and...
                               ...
18403    quiz sequence is b weighted sum of inputs is c...
18404    bweighted sum of inputs is calculated abias is...
18405    i really hope ryan starts a machine learning p...
18406    thank you so much for all that you do sir they...
18407    i really enjoyed this conversation with andrew...
Name: Comment, Length: 18408, dtype: object

In [13]:
import nltk 
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

nltk.download('omw-1.4')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Arun\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Arun\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Arun\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Arun\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [14]:
from nltk.corpus import wordnet

def get_wordnet_pos(tag):
    if tag.startswith('J'):
        return wordnet.ADJ
    elif tag.startswith('V'):
        return wordnet.VERB
    elif tag.startswith('N'):
        return wordnet.NOUN
    elif tag.startswith('R'):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [15]:
from nltk import WordNetLemmatizer,word_tokenize,pos_tag
import re
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    
    text = text.lower()                       # lowercase
    text = re.sub(r'\d+', '', text)           # remove numbers
    text = re.sub(r'[^\w\s]', '', text)       # remove punctuation
    
    tokens = word_tokenize(text)
    tagged = pos_tag(tokens)
    
    lemmatized = [
        lemmatizer.lemmatize(word, get_wordnet_pos(pos))
        for word, pos in tagged
    ]
    
    return " ".join(lemmatized)

In [17]:
import nltk
nltk.data.path.append("C:/Users/Arun/nltk_data")

In [ ]:
lemmatized_comment = comments.apply(lemmatize_text)
df[["Comment", "Lemmatized_Comment"]].head()

In [19]:
from nltk.stem import WordNetLemmatizer
import re

lemmatizer = WordNetLemmatizer()

def simple_lemma(text):
    text = re.sub(r'[^\w\s]', '', str(text).lower())
    tokens = text.split()
    return " ".join([lemmatizer.lemmatize(word) for word in tokens])

df["Lemmatized_Comment"] = df["Comment"].apply(simple_lemma)

0        this series is exactly what career day shouldv...
1        seasoned craft brewery tour guide here and im ...
2        15 spin launch 015 14 graphene 159 13 gps 3 33...
3        if machine produce everything we need the outc...
4        i like the meme that say if it bite you and yo...
                               ...
18403    quiz sequence is b weighted sum of input is ca...
18404    bweighted sum of input is calculated abias is ...
18405    i really hope ryan start a machine learning po...
18406    thank you so much for all that you do sir they...
18407    i really enjoyed this conversation with andrew...
Name: Lemmatized_Comment, Length: 18408, dtype: object

In [6]:
df = pd.read_csv(r"C:\Users\Arun\OneDrive\Documents\youtube\data\testing_dataset.csv")

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,36762,36763,36764,36765,36766,36767,36768,36769,36770,36771
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
y =df.iloc[:,-1]

In [ ]:
from configuration_file import load_parameters


params = load_parameters()
params["train_x"]
params["test_x"]